name: Compile dependabot updates

on:
  pull_request:

permissions:
  pull-requests: write
  contents: write
jobs:
  fetch-dependabot-metadata:
    runs-on: ubuntu-latest
    # We only want to check the metadata on pull_request events from Dependabot itself,
    # any subsequent pushes to the PR should just skip this step so we don't go into
    # a loop on commits created by the `build-dependabot-changes` job
    if: ${{ github.actor == 'dependabot[bot]' }}
    # Map the step output to a job output for subsequent jobs
    outputs:
      dependency-type: ${{ steps.dependabot-metadata.outputs.dependency-type }}
      package-ecosystem: ${{ steps.dependabot-metadata.outputs.package-ecosystem }}
    steps:
      - name: Fetch dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  build-dependabot-changes:
    runs-on: ubuntu-latest
    needs: [fetch-dependabot-metadata]
    # We only need to build the dist/ folder if the PR relates to Docker or an npm dependency
    if: needs.fetch-dependabot-metadata.outputs.package-ecosystem == 'docker' || needs.fetch-dependabot-metadata.outputs.package-ecosystem == 'npm_and_yarn'
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.DEPENDABOT_ACTION_TOKEN_AUTOMATION_CLIENT_ID }}
          private-key: ${{ secrets.DEPENDABOT_ACTION_TOKEN_AUTOMATION_PRIVATE_KEY }}

      - uses: actions/checkout@v6
        with:
          # fixes detached head state on Dependabot PRs
          ref: ${{ github.event.pull_request.head.ref }}
          # Check out using the generated token so any pushed changes will trigger checkruns
          token: ${{ steps.generate_token.outputs.token }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - run: npm clean-install

      # If we're reacting to a Docker PR, we have on extra step to refresh and check in the container manifest,
      # this **must** happen before rebuilding dist/ so it uses the new version of the manifest
      - name: Rebuild docker/containers.json
        if: needs.fetch-dependabot-metadata.outputs.package-ecosystem == 'docker'
        run: |
          npm run update-container-manifest
          git add docker/containers.json

      - name: Rebuild the dist/ directory
        run: npm run package

      - name: Check in any change to dist/
        run: |
          git add dist/
          # Specifying the full email allows the avatar to show up: https://github.com/orgs/community/discussions/26560
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit -m "[dependabot skip] Update dist/ with build changes" || exit 0
          git push
