name: 'integration'

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read
jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - run: npm clean-install

      - name: Pre-fetch the pinned images
        run: npm run fetch-images -- bundler

      - run: npm run test-integration
        env:
          GITHUB_TOKEN: ${{ github.token }}
